{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link ">Inicio</a>
<a href={% url 'about' %} class="nav-item nav-link">Nosotros</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{% endblock navegador %}

{% block contenedor %}
<div class="container-fluid py-5">
    <div class="container">

        <section class="mt-5 mb-5 text-center">
            <h4 class='mb-5'>¡Desconectado!</h4>
            <a class="btn btn-dark " href="{% url 'login'%}">Haga clic aquí para iniciar sesión de nuevo.</a>
        </section>
        
    </div>
</div>  
{% endblock contenedor %}
