{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link ">Inicio</a>
<a href={% url 'about' %} class="nav-item nav-link">Nosotros</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{% endblock navegador %}

{% block contenedor %}
<div class="container-fluid py-5">
    <div class="container">
        <section class="mt-5 mb-5 text-center">

            <p class='mt-5 text-center'>Le hemos enviado instrucciones por correo electrónico para establecer su contraseña. Si no han llegado en unos minutos, revisa la carpeta de correo no deseado.</p>
        
        </section>
    </div>
</div> 
{% endblock contenedor %}
