{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link ">Inicio</a>
<a href={% url 'about' %} class="nav-item nav-link">Nosotros</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{% endblock navegador %}

{% block contenedor %}
<div class="container-fluid py-5">
    <div class="container">

        <section class="mt-5 mb-5 text-center">
          <form action="" method="post">

          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
            <table class="mt-5 mb-4">
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
            </table>
            <input type="submit" class="btn btn-dark mb-2" value="Reiniciar contraseña">
            
          </form>
        </section>
        
    </div>
</div> 
{% endblock contenedor %}