{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link ">Inicio</a>
<a href={% url 'about' %} class="nav-item nav-link">Nosotros</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{% endblock navegador %}

{% block contenedor %}
<div class="container-fluid py-5">
    <div class="container">
        <section class='mt-5 mb-4 text-center'>

            <h4 class='mb-2'>¡La contraseña ha sido cambiada!</h4>
            <p><a class="btn btn-dark rounded-pill mb-2" href="{% url 'login' %}">¿ingresar de nuevo?</a></p>

        </section>
    </div>
</div> 
{% endblock contenedor %}