{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link ">Inicio</a>
<a href={% url 'about' %} class="nav-item nav-link active">Nosotros</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{% endblock navegador %}


{% block contenedor %}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src={% static 'blog_plantilla/img/about.jpg' %} alt="">
                </div>
                <div class="col-lg-20">
                    <h1 class="text-primary text-uppercase font-weight-bold">¿Quienes somos?</h1>
                    <h5 style = "color:black;">Somós los alumnos del curso de Programación Web 2023, del grupo N°6</h5>
                    <p style="color:black;">Los integrantes del grupo son:</p>
                    <p style="color:black;">Peralta, Federico Damian</p>
                    <p style="color:black;">Mauricio Acevedo</p>
                    <p style="color:black;">Medina, Gustavo</p>
                    <p style="color:black;">Alfonzo, Luis</p>
                    <p style="color:black;">Maciel Omar Alejandro</p>      
                    <p style="color:black;">Satina Matias </p>              
                    <p style="color:black;">Sanchez Rodolfo</p>
                    <p style="color:black;"> Luis Marcos Antonio Leiva</p>

                </div>
            </div>
        </div>

    </div>
    <!-- About End -->



{% endblock contenedor %}