{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link ">Inicio</a>
<a href={% url 'about' %} class="nav-item nav-link active">Nosotros</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{% endblock navegador %}


{% block contenedor %}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid w-100" src={% static 'blog_plantilla/img/about.jpg' %} alt="">
                </div>
                <div class="col-lg-7">
                    <h1 class="text-primary text-uppercase font-weight-bold">Sobre Nosotros</h1>
                    </h3 class="mb-4">Somos alumnos de curso de Programación Web 2023 </h3>
                    <p>los integrantes son:<p>
                    <p>Peralta, Fedrico Damian<p>
                    
                    
                    <p class="mb-4">{{ acerca }}</p>

                </div>
            </div>
        </div>

    </div>
    <!-- About End -->



{% endblock contenedor %}