{% load static %}

            <!-- Sidebar Start -->
            <div class="col-lg-4 mt-5 mt-lg-0">


                <!-- Category Start -->
                <div class="mb-5">
                    <h3 class="mb-4">CATEGORIAS</h3>
                    <div class="bg-secondary" style="padding: 30px;">
                        <ul class="list-inline m-0">
                            {% for categoria in categorias %}
                                <li class="mb-1 py-2 px-3 bg-light d-flex justify-content-between align-items-center">
                                    <a class="text-dark" href="{% url 'categoria' categoria_slug=categoria.slug%}"><i class="fa fa-angle-right text-primary mr-2"></i>{{ categoria }}</a>
                                    <!--<span class="badge badge-secondary badge-pill">150</span>-->
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Category End -->

                

                <!-- ARCHIVOS Start -->
                <div class="mb-5">
                    <h3 class="mb-4">ARCHIVOS</h3>
                    <div class="bg-secondary" style="padding: 30px;">
                        <ul class="list-inline m-0">
                            {% for archivo in archivos %}

                            <li class="mb-1 py-2 px-3 bg-light d-flex justify-content-between align-items-center">
                                <a class="text-dark" href={% url 'archivo' year=archivo.fecha.year month=archivo.fecha.month %}><i class="fa fa-angle-right text-primary mr-2"></i>{{ archivo.fecha|date:'F Y'|capfirst }}</a>
                                <!-- 
                                <a class="text-dark" href={% url 'archivo' year=archivo.fecha.year month=archivo.fecha.month %}><i class="fa fa-angle-right text-primary mr-2"></i>{{archivo.mes_letra}} de {{archivo.fecha.year}}</a>
                                -->
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- ARCHIVOS End -->

            </div>
            <!-- Sidebar End -->
